#header-container {
    width: 100%;
    height: 15vh;
    background-size: cover;
}

#header-title {
    position: absolute;
    top: 1%;
    left: 20%;
    color: gainsboro;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-title > * {
    margin-left: 0.2em;
    margin-right: 0.2em;
}